em-emoji-picker {
    position: absolute;
    visibility: hidden;
    left: 87%;
    top: -337px;
    width: 100%;
    max-width: 350px;
    max-height: 330px;
    transform: translateX(-50%);
  }

  body.show-emoji-picker em-emoji-picker {
    visibility: visible;
  }
  em-emoji-picker {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.18);
  min-width: 320px;
  max-width: 380px;
}